
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/mycss.css">
    <script src="/js/socket.io.min.js"></script>

    <title>Home page</title>
</head>
<body>
	<div class="container-fluid text-center tieude">
		<h1>NHÓM 05 HÂN HẠNH TÀI TRỢ CHƯƠNG TRÌNH NÀY</h1>
		<h2>Bật các chân </h2>
        <div class="form-group"/>
    </div>
<script src="/js/jquery.min.js"></script>
<script src="/js/index.js"></script>

</body>
</html>